<!DOCTYPE html>
<html>
<head>
    <title>Streaming Video from Chip</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
<div id="root">
    <div id="container">
        <!-- Add this select element to your Handlebars template -->

        <div id="parkingInfo">
            <p>
                {{parking.nameParking}} - {{parking.address}}
            </p>
            <p>
                Empty Slot : {{parking.Value_empty_slot}}
            </p>
        </div>
        <div style="display: flex">
            <select id="videoSelector" onchange="changeVideo()" style="height: 50px">
                <option value="">-- Select Video --</option>
                {{#each videos}}
                    <option value="{{id}}">{{id}}</option>
                {{/each}}
            </select>
            <video id="selectedVideo" autoplay width="1290" height="640" controls>
                <!-- The selected video will be displayed here -->
            </video>
        </div>



    </div>
    <div id="side_bar">
        <table id="car_table">
            <thead>
            <tr>
                <th>Biển số xe</th>
                <th>Thời gian vào</th>
                <th>Thời gian ra</th>
                <th width="120px">Tổng tiền</th>
            </tr>
            </thead>
            <tbody>
            {{#each rfs}}
                <tr>
                    <td>{{plate}}</td>
                    <td>{{timeCheckin}}</td>
                    <td>{{timeCheckout}}</td>
                    {{#if timeCheckout}}
                        <td>{{payment}}</td>
                    {{else}}
                        <td>
                            <form action="/payment" method="post">
                                <input name="_id" hidden value="{{_id}}" />
                                <button type="submit" class="vs-button">
                                Thanh toán
                            </button>
                            </form>
                        </td>
                    {{/if}}
                </tr>
            {{/each}}
            </tbody>
        </table>
        <form action="/submit" class="form-plate" method="post">
            <div class="form-group">
                <label for="plate">Biển số xe:</label>
                <input type="text" id="plate" name="plate" required><br><br>
            </div>
            <input class="vs-button" type="submit" value="Submit">
        </form>
    </div>
</div>

<script>
    // Add this JavaScript code to handle video selection and display
    function changeVideo() {
        const videoSelector = document.getElementById("videoSelector");
        const selectedVideo = document.getElementById("selectedVideo");
        const selectedVideoId = videoSelector.value;
        const data = {
            videos: [
                { id: '1', src: '/video1.mp4' },
                { id: '2', src: '/video2.mp4' },
                { id: '3', src: '/video3.mp4' },
                { id: '4', src: '/video4.mp4' },
            ]
        };
        // Find the selected video in the data based on its ID
        const selectedVideoData = data.videos.find(video => video.id === selectedVideoId);
        console.log(selectedVideoData)
        if (selectedVideoData) {
            selectedVideo.src = selectedVideoData.src;
            selectedVideo.load();
        } else {
            // Clear the video if no video is selected
            selectedVideo.src = "";
        }
    }
</script>
</body>
</html>
